<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">

<h1>{{title}}</h1>

<h6>Nasa: APOD of the day</h6>

<img src={{image}}>

<p>Explanation: {{explanation}}</p>

<p>Copyright: {{copyR}}</p>

<p>{{date}}</p>



